<div div class="bg-gray-100 dark:bg-gray-800 rounded-lg px-14 py-14 ring shadow-xl ring-gray-900/5 container">
  <form #formData="ngForm" (ngSubmit)="onSubmit(formData)">

    <h1 class="text-gray-900 dark:text-white mt-2 text-base font-medium tracking-tight">
      Setup
    </h1>

    <p class="text-gray-500 dark:text-gray-400 mt-2 text-sm">
      System Configuration
    </p>

    <!-- Row 1 -->
    <div class="flex flex-wrap gap-x-4">
      <div class="w-96 textrequired">
        <ejs-textbox placeholder="Application Title" floatLabelType="Auto" maxLength="300" name="appTitle" [(ngModel)]="model.appTitle" autocomplete="off" required />
      </div>
    </div> <!-- End Row 1-->

    <!-- Row 2 -->
    <div class="flex flex-wrap gap-x-4">
      <div class="w-96 textrequired">
        <ejs-textbox placeholder="Application Sub-Title" floatLabelType="Auto" maxLength="300" name="appSubTitle" [(ngModel)]="model.appSubTitle" autocomplete="off" required />
      </div>
    </div> <!-- End Row 2 -->

    <!-- Row 4 -->
    <div class="flex flex-wrap gap-x-4">

      <div class="w-40 textrequired">
        <ejs-textbox placeholder="Current dues year" floatLabelType="Auto" type="number" maxLength="4" name="duesYear"
          [(ngModel)]="model.duesYear" autocomplete="off" required />
      </div>

      <div class="w-40 textrequired">
        <ejs-textbox placeholder="Next member #" floatLabelType="Auto" type="number" name="nextMemberNo" [(ngModel)]="model.nextMemberNo"
          autocomplete="off" required />
      </div>

      <div class="w-48 textrequired">
        <ejs-textbox placeholder="Next cash entry receipt #" floatLabelType="Auto" type="number" name="nextCashEntryReceiptNo"
          [(ngModel)]="model.nextCashEntryReceiptNo" autocomplete="off" required />
      </div>

      <div class="w-48 textrequired">
        <ejs-textbox placeholder="Next cash entry batch #" floatLabelType="Auto" type="number" name="nextCashEntryBatchNo"
          [(ngModel)]="model.nextCashEntryBatchNo" autocomplete="off" required />
      </div>

    </div> <!-- End Row 4 -->

    <!-- Row 5 -->
    <div class="flex flex-wrap gap-x-4">

      <div class="flex flex-col">
        <div class="w-57 textrequired col-start-1">
          <ejs-textbox placeholder="Membership chair e-mail" floatLabelType="Auto" maxLength="50" name="membershipChairEmail"
            [(ngModel)]="model.membershipChairEmail" autocomplete="off" required />
        </div>

        <div class="w-57 textrequired col-start-1">
          <ejs-textbox placeholder="System e-mail" floatLabelType="Auto" maxLength="50" name="holmsEmail" [(ngModel)]="model.holmsEmail"
            autocomplete="off" required />
        </div>
      </div>

      <div class="flex flex-col">
        <div class="w-24 mt-6">
          <button ejs-button cssClass="e-primary" class="w-24" type="button" color="primary" (click)="onTestEmail()">Test Email</button>
        </div>
        <div class="w-24 mt-6">
          <button ejs-button cssClass="e-primary" class="w-24" type="button" color="primary" (click)="onTestInvoiceEmail()">Test Invc</button>
        </div>
      </div>

      <div class="grow">
        <p class="test-email-label mt-2 text-xs">Test Email Results</p>
        <div class="grow max-w-100 min-h-22 bg-white rounded-sm px-5 py-5 ring shadow-sm ring-gray-900/10 text-sm">
            <p> {{ emailMsg }} </p>
        </div>
      </div>

    </div> <!-- End Row 5 -->

    <!-- Row 6 -->
    <div class="flex flex-wrap gap-x-4">
    </div> <!-- End Row 6 -->

    <!-- Row 7 -->
    <div class="textrequired">
      <ejs-textarea placeholder="New Registration Display Message" cssClass="e-float" floatLabelType="Auto" resizeMode="Vertical" maxLength="1500" rows="5" cssClass="comments-textarea"
        maxLength="300" name="newRegDisplayMessage" [(ngModel)]="model.newRegDisplayMessage" autocomplete="off" required />
    </div> <!-- End Row 7 -->

    <!-- Row 7 -->
    <div class="textrequired">
      <ejs-textarea placeholder="New Member Email Welcome Message" cssClass="e-float" floatLabelType="Auto" resizeMode="Vertical" maxLength="1500" rows="5" cssClass="comments-textarea"
        maxLength="300" name="regEmailMessage" [(ngModel)]="model.regEmailMessage" autocomplete="off" required />
    </div> <!-- End Row 7 -->

    <br>
    <button ejs-button cssClass="e-primary" type="submit" color="primary" >Save</button>
  </form>
</div>
