<div class="bg-white dark:bg-gray-800 rounded-lg px-10 py-14 ring shadow-xl ring-gray-900/5 container" >
  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <h1 class="text-gray-900 dark:text-white mt-5 text-base font-medium tracking-tight">
      Hubbell Society Museum & Library
    </h1>
    <p class="text-gray-500 dark:text-gray-400 mt-2 text-sm" style="margin-bottom: 15px;">
      Registration
    </p>
    <div class="grid grid-flow-row gap-4 text-gray-500 dark:text-gray-400 text-sm">

      <!-- Row 1 -->
      <div  class="grid grid-flow-row grid-cols-10 gap-4 md:grid-flow-col">

        <!-- Registration Name -->
        <div class="max-w-full col-span-10">
          <input class="shadow appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline dark:focus:text-gray-300 placeholder:italic"
            id="name" type="text" placeholder="Registration Name (First Middle Last)" formControlName="name">
            @if (form.get('name')?.touched && form.get('name')?.errors) {
              <div class="error-message">Registration Name is required.</div>
            }
          </div>

        <!-- Are you a member ?-->
        <div class="max-w-full col-span-5">
            <div class="flex items-center">
              <label for="default-checkbox" class="m-2 ms-2 text-sm font-medium text-gray-500 dark:text-gray-300" >Already a member?</label>
              <input id="default-checkbox" type="checkbox" value="" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded-sm focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
          </div>
        </div>

        <!-- Member # -->
        <div class="max-w-full col-span-5">
          <input class="shadow appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline dark:focus:text-gray-300 placeholder:italic"
            id="memberNo" type="text" placeholder="Member #">
        </div>
      </div>

      <!-- Row 2 -->
      <!-- Address Line 1-->
      <div class="max-w-full">
        <input class="shadow appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline dark:focus:text-gray-300 placeholder:italic"
          id="address1" type="text" placeholder="Address Line 1">
      </div>

      <!-- Row 3 -->
      <!-- Address Line 2-->
      <div class="max-w-full">
        <input class="shadow appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline dark:focus:text-gray-300 placeholder:italic"
          id="address2" type="text" placeholder="Address Line 2">
      </div>

      <!-- Row 4 -->
      <div class="grid sm:grid-cols-5 grid-flow-row md:grid-flow-col gap-4">

        <!-- City -->
        <div class="max-w-full sm:col-span-2">
          <input class="shadow appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline dark:focus:text-gray-300 placeholder:italic"
            id="city" type="text" placeholder="City">
        </div>

        <!-- State -->
        <div class="max-w-full sm:col-span-1">
          <input class="shadow appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline dark:focus:text-gray-300 placeholder:italic"
            id="state" type="text" placeholder="State/Prov Abbreviation">
        </div>

        <!-- Postal Code -->
        <div class="max-w-full sm:col-span-1">
          <input class="shadow appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline dark:focus:text-gray-300 placeholder:italic"
            id="postalcode" type="text" placeholder="Postal Code">
        </div>

        <!-- Country -->
        <div class="max-w-full sm:col-span-1">
          <input class="shadow appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline dark:focus:text-gray-300 placeholder:italic"
            id="country" type="text" placeholder="Country">
        </div>

      </div>

      <!-- Row 4 -->
      <div class="grid sm:grid-cols-5 xs:grid-cols-2 grid-flow-row md:grid-flow-col gap-4">

        <!-- Phone -->
        <div class="max-w-full sm:col-span-2 xs:col-span-2">
          <input class="shadow appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline dark:focus:text-gray-300 placeholder:italic"
            id="phone" type="text" placeholder="Phone">
        </div>

        <!-- Annual Name -->
        <div class="max-w-full sm:col-span-3 xs:col-span-2">
          <input class="shadow appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline dark:focus:text-gray-300 placeholder:italic"
            id="annualName" type="text" placeholder="Annual Name">
        </div>

      </div>

      <!-- Row 5 -->
      <div class="grid sm:grid-cols-5 xs:grid-cols-2 grid-flow-row md:grid-flow-col gap-4">

        <!-- Email Address -->
        <div class="max-w-full sm:col-span-2 xs:col-span-2">
          <input class="shadow appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline dark:focus:text-gray-300 placeholder:italic"
            id="email" type="text" placeholder="Email Address">
        </div>

        <!-- PAssword -->
        <div class="max-w-full sm:col-span-3 xs:col-span-2">
          <input class="shadow appearance-none border rounded w-full py-2 px-3 leading-tight focus:outline-none focus:shadow-outline dark:focus:text-gray-300 placeholder:italic"
            id="password" type="password" placeholder="Password">
        </div>

      </div>

    </div>

    <button class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 border border-gray-700 rounded" style="margin-top: 25px;">
      Register
    </button>

    <div class="mt-5">
      <p>
        Already registered? <span><a class="bg-transparent hover:text-blue-500 text-blue-700 font-semibold" href="/">Login</a></span>
      </p>
    </div>
  </form>
</div>
